node_modules
coverage
.DS_Store
dist

dist/
params/
*.bak
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

api/src/product_ingredients_embeddings.json
api/src/products_topk_matched_number_1.csv
api/src/products_topk_summary_number_1.csv
api/src/products.csv
api/src/refined_ingredients_1st_cycle.csv
api/src/refined_ingredients_1st_cycle.docx
api/src/WO2023060387-CORE-ACTIVES.csv
api/src/attention_1.csv

*.S
# C extensions
*.so

ui/node_modules
kg/
youtube1/

**/node_modules/
KAG/
graphrag/ragtest

*.ll
.npm
# Distribution / packaging
.Python
env/
build/
build-*/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode
.env
**/neo4j/data/
